* {
    margin: 0;
    max-width: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #008cba;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 600px;
    background-size: cover;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container {
    height: 25px;
}

.jumbotron {
    height: 450px;
    padding-top: 30px;
    border: none;
    padding: 0px;
    background-image: url('assets/business-pug.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.fas fa-paw.h2 {
    resize:both;
}

.row {
    margin: 0;
}

.text-lg-left {
    color: #fd7e14 !important;
    font-family: 'Ribeye', cursive;
    font-size: 18em;
    padding-top: 50px;
    padding-left: 30px;
}

.font-weight-bold {
    font-weight: 700 !important
}

.text-md-left {
    color: #fd7e14;
    font-family: 'Ribeye', cursive;
    padding-left: 40px;
    font-size:7em;
}

/*.dogImage {
    height: 250px;
}

.catImage {
    height: 250px;
}*/

.catEkg {
    
    width: 100%;
}