* {
    margin: 0;
    max-width: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #008cba;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 600px;
    background-size: cover;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    height: 450px;
    padding: 30px;
    border: none;
    background-image: url('assets/business-pug.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.text-lg-left {
    color: #fd7e14 !important;
    font-family: 'Ribeye', cursive;
    font-size: 18em;
    padding-top: 50px;
    padding-left: 30px;
}

.font-weight-bold {
    font-weight: 700 !important
}

.text-left {
    padding-left: 50px;
    font-family: 'Questrial';
    font-size:15em;
}

.catEkg {
    
    width: 100%;
}

.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 25%;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
    font-size: 25px;
}

.icon-bar a:hover {
    background-color: #fd7e14;
}
