* {
    margin: 0;
    max-width: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #008cba;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 600px;
    background-size: cover;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    height: 450px;
    padding: 30px;
    border: none;
    background-image: url('assets/business-pug.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.text-lg-left {
    color: #fd7e14 !important;
    font-family: 'Ribeye', cursive;
    font-size: 18em;
    padding-top: 50px;
    padding-left: 30px;
}

.font-weight-bold {
    font-weight: 700 !important
}

.text-left {
    padding-left: 50px;
    font-family: 'Questrial';
}

.text-left i {
    font-size: 2em;
}

.clients {
    font-family: 'Emilys Candy';
    font-size: 4em;
    color: #02325f;
}

.glyphicon {
    color: #fd7e14;
}

.catEkg {
    
    width: 100%;
}

.icon-bar {
    width: 100%;
    background-image: linear-gradient(#04519b, #033C73 60%, #02325f);
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
    font-size: 25px;
}

.icon-bar a:hover {
    background-color: #fd7e14;
}

#animalPic {
    height: 250px;
    border-color: #555;
    border: 10px;
}

.tableHeader {
    font-family: Domine, serif;
    font-size: 4em;
    color: #fd7e14;
}

.table {
    font-size: 1.3em;
}

.form-control-lg {
    color: white;
}

.centered {
    margin: auto;
    max-width: 800px;
}

.centeredTwo {
    margin: 0px;
    max-width: 1200px;
}

.card.mb-3 {
    margin: 0px !important;
    display: inline-block;
}

.card-header {
    font-family: Questrial, sans-serif;
    font-size: 2em;
}

.cards {
    display: inline-block;
}

.card-title {
    color: #033C73;
}

.card-text {
    font-size: 1.3em;
}

.ekg {
    height: 200px;
    display: flex;
    justify-content: center;
}

.footy {
    font-size: 2em;
}
