@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"> <span class=" text-info glyphicon glyphicon-bookmark"></span>Welcome to Best &hearts; Books!</h1>
        <p class="lead"><i>We are a small group of avid readers with the goal of sharing our most recent and favorite reads with the public.</i></p>
        <hr class="my-4">
        <p>After browsing our list of Books, take a look at Amazon to find your next read.</p>
        <a class="btn btn-info btn-lg" href="https://www.amazon.com/gp/browse.html?node=283155&ref_=nav_em_T1_0_4_26_1__bo_t1" role="button">Find Your Next Book &rarr;</a>
    </div>
</div>


