@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="text-lg-left"> BowWow & Meow</h1>
        <p class="text-left"><i>~Vet Services~</i></p>
        <br />
        <br />
        <a class="btn btn-info btn-lg" @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</a>
        <br />
        <br />
        <br />
        <a class="btn btn-info btn-lg" @Html.ActionLink("Log  In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a>
    </div>
</div>
<div class="centered">
    <div class="row ">
        <div class="col-lg-4">
            <div class="card border-warning mb-5" style="border-radius: 5px; max-width: 25rem;">
                <div class="card-header">Reminder</div>
                <div class="card-body">
                    <h4 class="card-title">Vacation Time</h4>
                    <p class="card-text">Just a quick reminder to put in for your vacation time for next year!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-warning mb-5" style="border-radius: 5px; max-width: 25rem;">
                <div class="card-header">Important</div>
                <div class="card-body">
                    <h4 class="card-title">Vaccinations</h4>
                    <p class="card-text">Please make sure our furry friends are up-to-date with rabies shots!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-warning mb-5" style="border-radius: 5px; max-width: 25rem;">
                <div class="card-header">Fun Times</div>
                <div class="card-body">
                    <h4 class="card-title">Christmas Party</h4>
                    <p class="card-text">Plan on attending this year's Christmas festivities at Top Golf!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clients">
    <p>We <span class="glyphicon"> &hearts;</span> our Cute Clients ...</p>
</div>
<div class="centeredTwo">
    <div class="card mb-3" style="width: 280px;">
        <h3 class="card-header">Riley</h3>
        <img style="height: 200px; width: 100%; display: block;" src="~/Content/assets/blueEyesCat.jpg" alt="Card image">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card mb-3" style="width: 280px;">
        <h3 class="card-header">Riley</h3>
        <img style="height: 200px; width: 100%; display: block;" src="~/Content/assets/blueEyesCat.jpg" alt="Card image">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card mb-3" style="width: 280px;">
        <h3 class="card-header">Riley</h3>
        <img style="height: 200px; width: 100%; display: block;" src="~/Content/assets/blueEyesCat.jpg" alt="Card image">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card mb-3" style="width: 280px;">
        <h3 class="card-header">Riley</h3>
        <img style="height: 200px; width: 100%; display: block;" src="~/Content/assets/blueEyesCat.jpg" alt="Card image">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>





