@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron jumbotron-fluid" id="jumboShadow">
    <div class="container">
        <p class="text-lg-left"> BowWow & Meow</p>
        <p class="text-left"><i>~Vet Services~</i></p>
        <br />
        <br />
        <div class="buttonHolder">
            <a class="btn btn-info btn-lg" id="jumboButton" @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</a>
            <a class="btn btn-info btn-lg" id="jumboButton" @Html.ActionLink("Log  In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="clients">
    <p>We <span class="glyphicon"> &hearts;</span> our Cute Clients ...</p>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card mb-3" style="width: 280px;">
            <h3 class="card-header">Riley</h3>
            <img style="height: 200px; width: 100%; display: block;" src="~/Content/assets/Clients/blueEyesCat.jpg" alt="Card image">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3" style="width: 280px;">
            <h3 class="card-header">Max</h3>
            <img style="height: 200px; width: 100%; display: block;" src="~/Content/assets/Clients/poodle_small.jpg" alt="Card image">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3" style="width: 280px;">
            <h3 class="card-header">Niko</h3>
            <img style="height: 200px; width: 100%; display: block;" src="~/Content/assets/Clients/sleepyPuppy_small.jpg" alt="Card image">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>




