@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="text-lg-left"> BowWow & Meow</h1>
        <p class="text-left"><i>~Vet Services~</i></p>
        <br />
        <br />
        <a class="btn btn-info btn-lg" @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</a>
        <br />
        <br />
        <br />
        <a class="btn btn-info btn-lg" @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a>
    </div>
</div>


