@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BowWow & Meow</h1>
    <h2>Vet Services</h2>
</div>
<tr>
    <td></td>
    <td style="text-decoration:underline">BowWow & Meow</td>
</tr>
<tr>
    <td>
    </td>
</tr>
<tr></tr>
<tr></tr>

<div class="row">
    <div class="col-md-4">
        <h2>Register a New Customer</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Register Customer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register a New Pet</h2>
        <p></p>
        <p><button type="button" onclick="location.href '@Url.Action("Create","Customer")' ">Register Pet</button></p>
    </div>
    <div>
        @Html.ActionLink("Register Customer", "Create", "Customer")
    </div>
    <div class="col-md-4">
        <h2>Schedule an Appointment</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Schedule Appointment &raquo;</a></p>
    </div>
</div>